@{
    ViewBag.Title = "PassViewBag";
    string nickname =ViewBag.nickname;
    decimal Height =ViewBag.Height;
    decimal Weight = ViewBag.Weight;
    bool Married = ViewBag.Married;
    int i = 1;
}
<h2>PassViewBag</h2>
<ul>
    <li>@ViewBag.nickname</li>
    <li>@ViewBag.Height</li>
    <li>@ViewBag.Weight</li>
    <li>@ViewBag.Married</li>
</ul>

